.dot-text::before {
  content: "";
  display: inline-block;
  width: 0.75rem; /* Tailwind w-3 */
  height: 0.75rem; /* Tailwind h-3 */
  border-radius: 100%; /* Tailwind rounded-full */
  margin-right: 0.5rem; /* Tailwind mr-2 */
}
